absl-py==0.11.0
astor==0.8.1
astunparse==1.6.3
cachetools==4.1.1
chardet==3.0.4
decorator==4.4.2
freetype-py==2.2.0
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio>=1.32
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
markdown==3.3.3
networkx==2.5
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.9
pyopengl==3.1.0
pyrender>=0.1.45
pyyaml==6.0
requests==2.24.0
six==1.15.0
tqdm==4.51.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0

